### Ques 1. Write a Python program to remove duplicates from a list.

In [38]:
def remove(duplicate):
    b = []
    for x in duplicate:
        if x not in b:
            b.append(x)
    return b
duplicate = [10,20,30,20,10,50,60,40,80,50,40]
print(remove(duplicate))

[10, 20, 30, 50, 60, 40, 80]

### Ques 2. Write a Python program to combine two dictionary adding values for common keys
### d1 = {'a': 100, 'b': 200, 'c':300}
### d2 = {'a': 300, 'b': 200, 'd':400}
### Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [39]:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
for i in d2 :
    if i in d1 :
        d1[ i ] = d1[ i ] +d2[ i ]
    else :
        d1[ i ] = d2[ i ]
print(d1)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

### Ques 3.Write a Python program to convert a tuple to a string.

In [40]:
t = ('v', 'i', 'k', 'a', 's', 'h')

str = ''.join(t)

print(str)

vikash

### Ques 4.Write a Python program to remove item(s) from set

In [6]:
num = set([0, 1, 3, 4, 5])
print("Original set:")
print(num)
num.pop()
print("\nAfter removing the first element from the said set:")
print(num)

Original set:
{0, 1, 3, 4, 5}

After removing the first element from the said set:
{1, 3, 4, 5}

### Ques 5. Write a Python program to create a symmetric difference

In [7]:
a={1, 2, 3, 4}
b={4, 5, 6, 7}
c=a.symmetric_difference(b)
print(c)

{1, 2, 3, 5, 6, 7}

### Ques 6.Write a Python program to construct the following pattern, using a nested for loop.
### *
### *
### *
### *
### *

In [8]:
n=6;
for i in range(n):
    for j in range(i):
        print('*', end="")
    print('') 
for i in range(n, 0, -1):
    for j in range(i):
        print("*" ,end="")
    print("")

*
**
***
****
*****
******
*****
****
***
**
*

### Ques 7. Write a Python program to get the Fibonacci series between 0 to 50.

In [9]:
a, b= 0,1
c =a+b
n =50
print("fibonacci series between 0 to 50:")
while c<n:
    print(c)
    c =a+b
    a =b
    b =c

fibonacci series between 0 to 50:
1
1
2
3
5
8
13
21
34